body {
  background: #F8F8F8;
}

.authform {
  border: 1px solid #4682B4;
  padding: 5px 5px;
}

/*-------------footer-----------------*/

.footer {
  height: 5em;
  font-style: italic;
  text-align: center;
  border-top: 1px solid #4682B4;
} 

/*-------------header-----------------*/

.header {
  color: #161B1D;
  position: relative;
  /* height: 50px; */
}

.shop_title {
  display: block;
  color: #4682B4;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 36px;
}

.header:before {
  width: 100%;
  content: '';
  border-top: 1px solid #4682B4;
  top: -5px;
  position: absolute;
}

.header:after {
  width: 100%;
  content: '';
  border-bottom: 1px solid #4682B4;
  bottom: -5px;
  position: absolute;
}

.logo {
  width: 150px;
  border-radius: 50%;
}

/* .logo {
  top:0;
  display:block;
  text-align: left;
  float: left;
  margin-right: 48px;
  width: 200px;
  height: 300px;
  background: url('../images/categories/food/foodbascket.jpg') no-repeat;
} */

.header h1 {
  color: #4682B4;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  line-height: 64px;
  /*background: url('../images/icons/background_1.png') repeat-X top;*/
}

.menu {
  list-style: none;
  background: #D3D3D3;
}

.menu a {
  color: #778899;
  font-family: "Comic Sans MS", sans-serif;
  text-decoration: none;
}

.menu a:hover {
  color: #663399;
}

.login {
  color: #778899;
  font-family: "Comic Sans MS", sans-serif;
}

.login input[placeholder] {
  font-style: italic;
  width: 20%;
}

.login button {
  color: #778899;
  font-family: "Comic Sans MS", sans-serif;
}

/*-------------content-----------------*/

.content p {
  text-align: justify;
}

.feedback input[name='username'],
.feedback input[name='email'],
.feedback textarea[name='text'] {
  text-transform: capitalize;
}

.feedback input:hover,
.feedback textarea:hover,
.feedback select:hover {
  background: #81CCDF;
}

.feedback input[name="email"]:focus,
.feedback select:focus {
  background: #81CCDF;
  color: #663399;
}

.img200 {
  width: 200px;
  border: 4px solid #778899;
}

#prod.img200:hover {
  border: 4px solid transparent;
}

.links {
  color: #778899;
  font-family: "Comic Sans MS", sans-serif;
  text-decoration: none;
}

.feedback {
  color: #778899;
  font-family: "Comic Sans MS", sans-serif;
}

.feedback legend {
  background: #FFE4E1;
}

.feedback input[placeholder] {
  font-style: italic;
  width: 20%;
}

.feedback button {
  color: #778899;
  font-family: "Comic Sans MS", sans-serif; /*почему для кнопки надо отдельно писать шрифт?*/
}

.feedback select {
  color: #A9A9A9;
  font-style: italic;
  width: 20%;
}

.feedback textarea[name="text"] {
  text-align: left;
  font-style: italic;
}

.contacts {
  color: #778899;
  list-style: none;
  font-family: "Comic Sans MS", sans-serif;
  text-decoration: none;
}

.shorttext {
  color: #707070;
  font-size: 14px;
  font-style: italic;
  line-height: 16px;
  background: #eaeaea;
}

.shorttext:first-letter,
.longtext:first-letter {
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-size: 2em;
  font-style: italic;
  color: #663399;
}

.header_h4 {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  background: #EAEAEA;
}

.header_h3 {
  color: #000000;
  /* font-family: Helvetica, sans-serif; */
  font-size: 16px;
  font-weight: bold;
}

.characteristic {
  margin-left: 5px;
  font-family: "Comic Sans MS", sans-serif;
}

.tb_characteristic {
  border-collapse: collapse;
  width: 50%;
}

.tb_characteristic th,
.tb_characteristic td {
  height: 2em;
  border: #90B8D2 solid 3px;
  text-align: center;
}

#fruit.characteristic {
  list-style-image: url('../images/icons/Salad-icon.png');
}

#bread.characteristic {
  list-style-image: url('../images/icons/bread-icon.png');
}

.longtext {
  color: #484343;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.tb_main {
  border-collapse: collapse;
  margin: 5% 10%;
  text-align: center;
  width: 300px;
  height: 300px;
}

.tb_main td {
  height: 2em;
  width: 2em;
  border: solid #4682B4 2px;
}

.tr_main:nth-child(1) {
  height: 4em;
}

.products {
  width: 100%;
  margin: 0 auto 0 auto;
  background: #CDCAD4F5;
  overflow: hidden;
}

.product_item {
  width: 30%;
  height: 310px;
  float: left;
  margin-right: 5%;
  height: 310px;
  background: #919BA5FA;
  margin-top: 20px;
  text-align: center;
  border-radius: 5%;
  /* position: absolute; */
}

.product_item p {
  font-size: 10%;
}

.imgprod {
  width: 80%;
  margin: 10% 10%;
}

.product_item:nth-child(3n) {
  margin-right: 0;
}

.product_item:nth-child(-n+3) {
  margin-top: 0;
}
